<a href="https://colab.research.google.com/github/Sushmit1480/ProgrammingAssignment2/blob/master/ML_Practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#UPLOADING DATASET

In [1]:
from google.colab import files
uploaded = files.upload()

Saving hospital-data.csv to hospital-data.csv

#Reading data from uploaded dataset

In [2]:
import pandas as pd
import io

df  = pd.read_csv(io.BytesIO(uploaded['hospital-data.csv']))

#Printing data

In [3]:
df

     Provider Number  ... Emergency Services
0             010001  ...                Yes
1             010005  ...                Yes
2             010006  ...                Yes
3             010007  ...                Yes
4             010008  ...                Yes
...              ...  ...                ...
4821          670072  ...                Yes
4822          670073  ...                Yes
4823          670075  ...                Yes
4824          670076  ...                Yes
4825          670077  ...                Yes

[4826 rows x 13 columns]

#Print Only First 5 rows

In [8]:
df.head()

  Provider Number  ... Emergency Services
0          010001  ...                Yes
1          010005  ...                Yes
2          010006  ...                Yes
3          010007  ...                Yes
4          010008  ...                Yes

[5 rows x 13 columns]

#Uploading Another .csv file

In [5]:
from google.colab import files
upload = files.upload()

Saving Cartwheeldata.csv to Cartwheeldata.csv

#Read Another .csv File

In [6]:
read  = pd.read_csv(io.BytesIO(upload['Cartwheeldata.csv']))

#Print Data

In [7]:
read

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]